mat-drawer-container,
mat-drawer-content {
  width: 100%;
  height: 98%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.drawer-header {
  padding: 8px;
  border-bottom: 1px solid var(--mat-sys-outline-variant);
}

.drawer-content {
  padding: 16px;
}
