/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* Snackbar styles */
.snackbar-success {
  background: #1b5e20;
  color: #fff;
}
.snackbar-error {
  background: #b71c1c;
  color: #fff;
}
.snackbar-info {
  background: #0d47a1;
  color: #fff;
}
.snackbar-warning {
  background: #f57f17;
  color: #000;
}
