<app-welcome-layout-component
  title="Register Into the bank tracker"
  subtitle="Please enter your credentials to create your account"
  [actions]="[{ text: 'Submit', action: onSubmit.bind(this) }]"
>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="login-form">
    <app-flex [vertical]="true" gap="8px" justify="center" align="center" class="login-form-flex">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" id="email" formControlName="email" />
        @if (registerForm.get('email')?.hasError('required')) {
          <mat-error>Email is required</mat-error>
        }
        @if (registerForm.get('email')?.hasError('email')) {
          <mat-error>Please enter a valid email address</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" id="password" formControlName="password" />
        @if (registerForm.get('password')?.hasError('required')) {
          <mat-error>Password is required</mat-error>
        }
        @if (registerForm.get('password')?.hasError('minlength')) {
          <mat-error>Password must be at least 6 characters</mat-error>
        }
      </mat-form-field>
    </app-flex>
  </form>
</app-welcome-layout-component>
