<gridster [options]="options" [class.edit-mode]="isEditMode()" class="gridster-container">
  @for (widget of widgets(); track widget) {
    <gridster-item [item]="widget">
      @switch (widget.type) {
        @case (WidgetType.CurrentBalance) {
          <app-widget-remaining [isEditMode]="isEditMode()"></app-widget-remaining>
        }
        @case (WidgetType.NetGraph) {
          <app-widget-net-graph [isEditMode]="isEditMode()"></app-widget-net-graph>
        }
        @default {
          <div class="placeholder-widget">
            <p>Widget: {{ widget['component'] || 'Empty' }}</p>
            <p>{{ widget.cols }}x{{ widget.rows }}</p>
          </div>
        }
      }
    </gridster-item>
  }
  <app-flex justify="flex-end" align="flex-end" class="floating-button">
    <button matMiniFab type="button" aria-label="Edit Dashboard" (click)="editDashboard()">
      <mat-icon>edit</mat-icon>
    </button>
  </app-flex>
</gridster>
